html {
  scroll-behavior: smooth;
}

.btn:focus, .btn:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body h1 {
  font-family: Heebo, sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  color: white;
}

body h2 {
  font-family: Heebo, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: white;
}

body .logo-light {
  font-weight: 300;
}

body #plogo {
  padding-left: 5px;
  padding-top: 5px;
}

body h3 {
  font-family: Heebo, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: white;
}

body #digits {
  font-family: Calistoga, sans-serif;
  font-weight: 300;
  font-size: 4rem;
  color: #0FBE00;
}

body h4 {
  font-family: Heebo, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: white;
}

body h5 {
  font-family: Calistoga, sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  color: #0FBE00;
}

.navbar-custom {
  background-color: #131313;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  font-family: Heebo, sans-serif;
  font-weight: 500;
  height: 50px;
  z-index: 100;
}

.navbar-custom .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-custom .navbar-toggler-icon {
  background-image: "assets/Menu-Toggle.png" !important;
}

.navbar-custom a {
  color: #0FBE00;
}

.navbar-custom li:hover {
  background-color: #0FBE00;
  border-radius: 5px;
  width: 100%;
}

.navbar-custom a:hover {
  color: #131313;
}

.navbar-collapse {
  border-radius: 10px;
  margin-left: -15px;
  margin-right: -15px;
}

@media only screen and (max-width: 768px) {
  .navbar-collapse {
    background-color: #131313;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #logo {
    margin-top: -3px;
  }
}

.page-heading {
  margin: 50px;
  margin-top: 125px;
}

.market-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1100px) {
  .market-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .market-data .left-web .gain-loss #digits {
    text-align: center;
  }
  .market-data .right-web {
    margin-right: 0;
  }
  .market-data .right-web .top-movers .tile-group, .market-data .right-web .bottom-movers .tile-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gain-loss {
    margin-bottom: 50px;
  }
  .todays-news .news-stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .todays-news .news-stories #left-column, .todays-news .news-stories #right-column {
    width: 60%;
  }
}

.gain-loss {
  margin-left: 50px;
}

.gain-loss h2 {
  padding-bottom: 15px;
}

.gain-loss p {
  line-height: 4rem;
}

.right-web {
  margin-right: 75px;
}

.top-movers, .bottom-movers {
  margin-left: 50px;
}

.top-movers h2, .bottom-movers h2 {
  padding-bottom: 15px;
}

.top-movers .tile-group, .bottom-movers .tile-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.top-movers .tile-group .market-tile, .bottom-movers .tile-group .market-tile {
  background-color: #131313;
  padding: 25px;
  border-radius: 15px;
  margin-right: 25px;
  width: 175px;
  height: 170px;
}

.top-movers .tile-group h4, .top-movers .tile-group h5, .bottom-movers .tile-group h4, .bottom-movers .tile-group h5 {
  line-height: 1.5rem;
}

.top-movers .tile-group h4, .bottom-movers .tile-group h4 {
  padding-top: 10px;
}

.bottom-movers {
  margin-top: 50px;
}

.bottom-movers #neg {
  color: #C40000;
}

.todays-news {
  margin-top: 50px;
}

.todays-news h2 {
  margin-left: 50px;
  padding-bottom: 15px;
}

.todays-news .news-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
  margin-bottom: 75px;
}

.todays-news .news-stories #left-column, .todays-news .news-stories #right-column {
  width: 45%;
}

.todays-news .news-stories #right-column {
  margin-right: 75px;
}

.todays-news .news-stories .news-block {
  background-color: #131313;
  height: 125px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todays-news .news-stories .news-block .article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 25px;
}

.todays-news .news-stories .news-block .article-info h2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.todays-news .news-stories .news-block .article-info p {
  font-family: Heebo, sans-serif;
  font-size: .75rem;
  font-weight: 300;
  color: #b6b6b6;
  margin: 0;
}

.todays-news .news-stories .news-block .article-info .outlet-logo img {
  height: 15px;
}

.todays-news .news-stories .news-block .article-image {
  margin-right: 20px;
  padding-left: 25px;
}

.todays-news .news-stories .news-block .article-image img {
  height: 95px;
  border-radius: 10px;
}

@media only screen and (max-width: 1100px) {
  .market-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .market-data .left-web .gain-loss #digits {
    text-align: center;
  }
  .market-data .right-web {
    margin-right: 0;
  }
  .market-data .right-web .top-movers .tile-group, .market-data .right-web .bottom-movers .tile-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gain-loss {
    margin-bottom: 50px;
  }
  .todays-news .news-stories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .todays-news .news-stories #left-column, .todays-news .news-stories #right-column {
    width: 60%;
    min-width: 500px;
  }
  .todays-news .news-stories #right-column {
    margin-right: 0px;
  }
}

#portfolio-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio-header #add-new {
  background-color: #0FBE00;
  font-family: Heebo, sans-serif;
  font-weight: 500;
}

#portfolio-header .btn:focus, #portfolio-header .btn:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-backdrop {
  background-color: #131313 !important;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.modal-content {
  border-radius: 50px !important;
}

.modal-content h1, .modal-content h3 {
  margin-left: 35px;
  margin-top: 15px;
}

.modal-content h3 {
  margin-left: 20% !important;
}

.modal-content .modal-header {
  background-color: #010212;
  color: white;
  border-bottom: 0 none;
}

.modal-content .modal-header .close {
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 45px;
  margin-right: 25px;
  margin-top: 5px;
}

.modal-content .modal-body {
  background-color: #010212;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-content .modal-body .position-type #position-form, .modal-content .modal-body .position-name #position-form, .modal-content .modal-body .position-size #position-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin-left: 20%;
  background-color: #131313;
  border: none;
  margin-bottom: 25px;
}

.modal-content .modal-body .position-type #position-form:focus, .modal-content .modal-body .position-name #position-form:focus, .modal-content .modal-body .position-size #position-form:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-content .modal-body .position-type .dropdown-menu, .modal-content .modal-body .position-name .dropdown-menu, .modal-content .modal-body .position-size .dropdown-menu {
  width: 60%;
  background-color: #131313;
}

.modal-content .modal-body .position-type .dropdown-item, .modal-content .modal-body .position-name .dropdown-item, .modal-content .modal-body .position-size .dropdown-item {
  color: white;
}

.modal-content .modal-body .position-type .dropdown-item:hover, .modal-content .modal-body .position-name .dropdown-item:hover, .modal-content .modal-body .position-size .dropdown-item:hover {
  color: white;
  background-color: #0FBE00;
}

.modal-content .modal-body .position-size {
  margin-bottom: 25px;
}

.modal-content .modal-body .estimated-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content .modal-body .estimated-value h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

.modal-content .modal-footer {
  background-color: #010212;
  color: white;
  border-top: 0 none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-content .modal-footer #button-submit {
  border: 2px white solid;
  background-color: none;
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  width: 60%;
  height: 50px;
  margin-bottom: 50px;
}

.modal-content .modal-footer #button-submit:hover {
  background-color: white;
  color: #131313;
}

.portfolio-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10%;
  margin-bottom: 75px;
}

.portfolio-content .holding-group {
  margin-bottom: 50px;
}

.portfolio-content .holding-group .holding-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #131313;
  border-radius: 10px;
  padding: 10px;
  padding-top: 13px;
  margin-top: 15px;
  width: 60%;
}

.portfolio-content .holding-group .holding-item h4 {
  margin: 0;
  margin-left: 25px;
}

.portfolio-content .holding-group .holding-item p {
  font-family: Heebo, sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 300;
  margin: 0;
}

.portfolio-content .holding-group .holding-item i {
  color: white;
  font-size: 1.5rem;
  margin-right: 25px;
}

.portfolio-content .holding-group .holding-item:hover i {
  color: #0FBE00;
}
/*# sourceMappingURL=main.css.map */