$colors: (
    accent: #0FBE00,
    background: #010212,
    headings: #F3F3F3,
    nav-bg: #131313,
    nav-hover: #E1E1E1
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

$fonts: (
    calistoga: #{'Calistoga', sans-serif},
    heebo: #{'Heebo', sans-serif}
);

@function font($font-name) {
    @return map-get($fonts, $font-name)
}

html {
    scroll-behavior: smooth;
}


.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

button:focus {
    outline: none !important;
    box-shadow: none;
}

body {
    h1 {
        font-family: font(heebo);
        font-weight: 700;
        font-size: 3.5rem;
        color: white;
    }

    h2 {
        font-family: font(heebo);
        font-weight: 700;
        font-size: 1.8rem;
        color: white;
    }

    .logo-light {
        font-weight: 300;
    }

    #plogo {
        padding-left: 5px;
        padding-top: 5px;
    }

    h3 {
        font-family: font(heebo);
        font-weight: 300;
        font-size: 2rem;
        color: white;
    }

    #digits {
        font-family: font(calistoga);
        font-weight: 300;
        font-size: 4rem;
        color: color(accent);
    }

    h4 {
        font-family: font(heebo);
        font-weight: 700;
        font-size: 2.5rem;
        color: white;
    }

    h5 {
        font-family: font(calistoga);
        font-weight: 100;
        font-size: 1.25rem;
        color: color(accent);
    }
}

.navbar-custom {
    background-color: color(nav-bg);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    font-family: font(heebo);
    font-weight: 500;
    height: 50px;
    z-index: 100;

    .nav-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    

    .navbar-toggler-icon {
        background-image: "assets/Menu-Toggle.png" !important;
    }

    a {
        color: color(accent);
    }

    li:hover {
        background-color: color(accent);
        border-radius: 5px;
        width: 100%;
    }

    a:hover {
        color: color(nav-bg);
    }
}

.navbar-collapse {
    border-radius: 10px;
    
    margin-left: -15px;
    margin-right: -15px;
}

// Layering and alignment fix for mobile menu

@media only screen and (max-width: 768px) {
    .navbar-collapse {
      background-color: color(nav-bg);
      margin-top: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    #logo {
        margin-top: -3px;
    }
  }


.page-heading {
    margin: 50px;
    margin-top: 125px;

}

.market-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gain-loss {
    margin-left: 50px;

    h2 {
        padding-bottom: 15px;
    }

    p {
        line-height: 4rem;
    }
}

.right-web {
    margin-right: 75px;
}

.top-movers, .bottom-movers {
    margin-left: 50px;

    h2 {
        padding-bottom: 15px;
    }

    .tile-group {
        display: flex;
        flex-direction: row;

        .market-tile {
            background-color: color(nav-bg);
            padding: 25px;
            border-radius: 15px;
            margin-right: 25px;
            width: 175px;
            height: 170px;
        }

        h4, h5 {
            line-height: 1.5rem;
        }
        
        h4 {
            padding-top: 10px;
        }
    }
}

.bottom-movers {
    margin-top: 50px;

    #neg {
        color: #C40000;
    }
}

.todays-news {

    margin-top: 50px;
    h2 {
        margin-left: 50px;
        padding-bottom: 15px;
    }

    .news-stories {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 50px;
        margin-bottom: 75px;
        
        #left-column, #right-column {
            width: 45%;
        }

        #right-column {
            margin-right: 75px;
        }

        .news-block {
            background-color: color(nav-bg);
            height: 125px;
            margin-right: 20px;
            margin-bottom: 20px;
            border-radius: 15px;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .article-info {

                display: flex;
                flex-direction: column;
                margin-left: 25px;

                h2 {
                    font-size: 1.25rem;
                    font-weight: 500;
                    margin: 0;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }

                p {
                    font-family: font(heebo);
                    font-size: .75rem;
                    font-weight: 300;
                    color: rgb(182, 182, 182);
                    margin: 0;
                }

                .outlet-logo {
                    img {
                        height: 15px;
                    }
                }
            }

            .article-image {

                margin-right: 20px;
                padding-left: 25px;

                img {
                    height: 95px;
                    border-radius: 10px;
                }
               
            }
        }
    }

}

#portfolio-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #add-new {
        background-color: color(accent);
        font-family: font(heebo);
        font-weight: 500;
    }

    .btn:focus,.btn:active {
        outline: none !important;
        box-shadow: none;
    }
}

.modal-backdrop {
    background-color: color(nav-bg) !important;
    backdrop-filter: blur(15px);
}

.modal-content {
    border-radius: 50px !important;

    h1, h3 {
        margin-left: 35px;
        margin-top: 15px;
    }

    h3 {
        margin-left: 20% !important;
    }

    .modal-header {
        background-color: color(background);
        color: white;
        border-bottom: 0 none;

        .close {
            color: white;
            box-shadow: none;
            font-size: 45px;
            margin-right: 25px;
            margin-top: 5px;
        }
    }

    .modal-body {
        background-color: color(background);
        color: white;
        display: flex;
        flex-direction: column;

        .position-type, .position-name, .position-size {

            #position-form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 60%;
                margin-left: 20%;
                background-color: color(nav-bg);
                border: none;
                margin-bottom: 25px;
            }

            #position-form:focus {
                outline: none !important;
                box-shadow: none;
            }

            .dropdown-menu {
                width: 60%;
                background-color: color(nav-bg);
            }

            .dropdown-item {
                color: white;
            }

            .dropdown-item:hover {
                color: white;
                background-color: color(accent);
            }
        }

        .position-size {
            margin-bottom: 25px;
        }

        .estimated-value {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            h2 {
                font-size: 1.25rem;
                font-weight: 500;
            }
        }
    }

    .modal-footer {
        background-color: color(background);
        color: white;
        border-top: 0 none;
        display: flex;
        justify-content: center;

        #button-submit {
            border: 2px white solid;
            background-color: none;
            color: white;
            font-weight: 500;
            font-size: 1.5rem;
            width: 60%;
            height: 50px;
            margin-bottom: 50px;
        }

        #button-submit:hover {
            background-color: white;
            color: color(nav-bg);
        }
    }
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 75px;

    .holding-group {
        margin-bottom: 50px;
        .holding-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            background-color: color(nav-bg);
            border-radius: 10px;
            padding: 10px;
            padding-top: 13px;
            margin-top: 15px;
            width: 60%;

            h4 {
                margin: 0;
                margin-left: 25px;
            }

            p {
                font-family: font(heebo);
                font-size: 1rem;
                color: white;
                font-weight: 300;
                margin: 0;
            }

            i {
                color: white;
                font-size: 1.5rem;
                margin-right: 25px;
            }
        }

        .holding-item:hover {
            i {
                color: color(accent);
            }
        }
    }
}

